*
{
	color:				white;
	background:			black;
	font-family:		"Arial Black", Gadget, sans-serif;
}

body
{
	width:				25em;
}

hr
{
	border:				1px solid white;
	border-left:		1px solid black;
	border-right:		1px solid black;
	height:				1px;
	border-top:			0;
	margin-top:			0.5em;
	margin-bottom:		0.5em;
}

/*
********************************************************************************
*** HEADER
********************************************************************************
*/

header
{
	text-align:			center;
	font-size:			1.5em;
	letter-spacing:		0.1em;
}

/*
********************************************************************************
*** NAVIGATION
********************************************************************************
*/

nav
{
	display:			flex;
	flex-direction:		row;
	flex-wrap:			wrap;
}

nav img
{
	width:				2em;
	padding:			0.5em;
	border:				1px solid black;
}

nav img:hover, .selected
{
	border:				1px solid white;
}

img
{
	display:			block;
	margin:				auto;
	cursor:				pointer;
}

/*
********************************************************************************
*** SEARCH
********************************************************************************
*/

#search
{
	padding-bottom:		1em;
}

#input_keyword, #input_submit
{
	margin:				auto;
}

#search select, #search input, #search button, #search hr
{
	margin-top:			1em;
	display:			none;
}

#input_submit
{
	font-size:			1.5em;
	border:				1px solid white;
}

#input_submit:hover
{
	cursor:				pointer;
}

#input_keyword
{
	border:				1px solid white;
	padding:			0.5em;
	outline:			none;
}

button
{
	letter-spacing:		0.1em;
}
